out/*
data/*
data-preprocessed/*
*.RData
.RData*
*.RFile
*.Rfile
.project
.Rhistory
hs_err_pid*
pdf-sweaver-source/*.log
pdf-sweaver-source/*.out
pdf-sweaver-source/*.aux
pdf-sweaver-source/*.tex
pdf-sweaver-source/*.toc
pdf-sweaver-source/*.gz
.settings/
tmp/
.Rproj.user
*.Rproj
pdf-sweaver-source/compile_command
pdf-sweaver-source/*.pdf
pdf-sweaver-source/morphology-overwiew.pdf
pdf-sweaver-source/sweaver-source/
memory_log*
*.rds
